/** Write your CSS in here **/
body {
    background: linear-gradient(to right, #ed213a, #93291e);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
}

.container #div-background {
    background-color: white;
    width: 50em;
    height: 20em;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    position: fixed;
    border: none;
    background-color: #ed213a;
    color: white;
    font-size: 12px;
    text-align: center;
    outline: none;
    padding: 15px 25px;
    margin-top: 9em;
    margin-left: 25em;
}

button:focus {
    border: 2px solid white;
}

button:hover {
    background: #93291e
}


#title {
    margin-bottom: 8em;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;

}

#title-author {
    margin-top: 3em;
    margin-left: 10em;
    position: fixed;
}

img {
    width: 60px;
    height: 60px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;

}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid white;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#switch-button {
    color: white;
    margin-bottom: 2em;
    width: 50em;
    border-radius: 30px;
    padding: 2px;
    text-align: center;
}