body{
  font-family: 'Rye', cursive;
  font-size: xx-large;
  background-color:#fce703;
}
.centre {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#alarmSet {
  margin-bottom:5%;
  margin-right: 5%;
}

#timeRemaining{
  margin-bottom: 15%;
  font-family: 'Rye', cursive;
  font-size: 200%;
}
#buttons{
  margin-top: 10%;
}