.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body {
  background-color: black;
}
#alarmSet {
  margin: 20px;
}

h1 {
  min-width: 600px;
  text-align: left;
  font-family: "Orbitron", sans-serif;
  color: red;
  text-shadow: 2px 2px 5px red;
}
