.body {
  background-color: rgb(196, 202, 255);
}
.btn {
  padding: 10px;
  margin-left: 220px;
  margin-top: 250px;
  width: 100px;
  background-color: rgb(226, 110, 43);
}
#dogImage {
  width: 300px;
  top: 100px;
  margin-left: 250px;
}
ul {
  list-style-type: none;
}
