.btn {
  padding: 10px;
  margin-left: 200px;
  margin-top: 60px;
  width: 100px;
}
.dogImage {
  padding: 150px 250px 150px 250px;
  margin-left: 200px;
  margin-top: 50px;
  width: 1200px;
  border: 5px solid red;
}
ul {
  list-style-type: none;
}
