*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48,62,143));
    font-family: sans-serif;
    color: whitesmoke;
}
.location,
.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    flex-direction: column;
}

.degree{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree span{
    margin: 10px;
    font-size: 30px;
}

.temperature-degree{
    font-size: 40px;
}