*{
    padding: opx;
    margin: opx;
    box-sizing: border-box;
}

.container{
    margin-top: 2cm;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
}
.slide{
    margin-left: -15px;
    display: flex;
    width : 1130px;
    height: 500px;
}
#prev {
    position: absolute;
    top: 85%;
    z-index: 10;
    left: 30%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#next {
    position: absolute;
    top: 85%;
    z-index: 10;
    right: 35%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#play {
    position: absolute;
    top: 85%;
    z-index: 10;
    right: 55%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#stop {
    position: absolute;
    top: 85%;
    z-index: 10;
    right: 45%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

@media only screen and (min-width: 400px) {
    body{
        background-color: rgb(32, 32, 32);
    };
    .container{
        margin-top: 2cm;
        border: 3px solid black;
        overflow: hidden;
        position: relative;
       
    }
    .slide{
        margin-left: -15px;
        display: flex;
        width: 70%;
        height: 500px;
    }
    }