/** Write your CSS in here **/

body {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}

.container {
  bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.slideshow {
  display: none;
}

.text {
  color: #f2f2f2;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  bottom: 10em;
  margin-left: 2em;
  text-shadow: 6px 4px 10px #333;
  background-color: rgba(0, 0, 0, 0.2);
}

button {
  background-color: #c7c4b9;
  border: none;
  padding: 10px;
  margin: 10px 5px;
  color: #333;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.active,
button:hover {
  background-color: crimson;
  color: #f2f2f2;
}

#allBtns {
  display: flex;
  justify-content: center;
  width: 100%;
}
#div-input {
  margin: 10px;
}

input {
  border: 1px solid #333;
  padding: 10px;
  border-radius: 20px;
  width: 130px;
  outline: none;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .text {
    /* display: none; */
    bottom: 30em;
    font-size: 0.8em;
  }

  #allBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin: 2px 2px;
    width: 150px;
    outline: none;
    cursor: pointer;
  }

  #Stop {
    margin: 2px 2px;
  }
  #div-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1000px) {
  .text {
    font-size: 2em;
    bottom: 6em;
  }
}
