.jumbotron{
    background-color: rgb(71, 14, 226);
    color: cornsilk;
    font-family: 'Balsamiq Sans', cursive, Arial, Helvetica, sans-serif;
}
.form-group{
    width:400px;
    height:300px; 
    align-self:left;
    padding-left: 20px;
}

.btn {
    display: block;
}

.form-check-label {
    padding-left: 20px;
    margin: 5px 0px 5px 0px;
}

button.btn-info {
    margin: 20px;
}