body{
     background-color: rgb(209, 171, 194);
}
html{
     height: 100%;
}

.card{
     margin-top: 30%;
     height: 100%;
     font-size: 1.5rem;
     background-color: rgb(139, 208, 211);
     font-family: 'Roboto Slab', serif;
}

#fact{
     display: none;
}