body{
    background-color:#d38ec4;
    font-family: 'Rye', cursive;
}
div{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.welcome{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 100px;
}

div.welcome i{
    font-size:150px;
}
h2{
    font-size: 50px;
    margin-top: auto;
    margin-bottom: 3%;
}
.list{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size:30px;
}
li{
    list-style: none;
    margin-left: auto;
}