body {
    padding: 30px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 400px;
}

input {
    padding: 0.4em;
    border-radius: 0.25em;
    border: 1px solid rgba(0, 0, 0, .15);
}

#form-button {
    background-color: green;
    color: white;
    margin-left: 10px;
    border-radius: 0.5em;
    padding: 0.5em 2em;
}

#form-button:hover {
    background-color: #2b580c;
}